*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;


}

.campos-container{
    background-color: #ffff;
    width: 40%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    color: #8a2be2;
}
#input{
    width: 80%;
    height: 40%;
    border-radius: 5px;

}

.contador{
    margin: 20px;
}

label{
    margin: 10px;
}

#btn-contar{
    color: #ffff;
    background-color:#8a2be2;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: #8a2be2;
    font-size: 1.15rem;

}