:root{
    ---gray-700:#0d0d0d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(---gray-700);
    width: 100%;
    height: 20%;
}

main{
    background-color: #1a1a1a;
    width: 100%;
    height: 80%;
}

img{
    width: 126px;
    height: 48px;
 
}

input{
    background-color:#808080 ;
    border-radius: 5px;
    padding: 10px;



}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #1e6f9f;
    color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;

}
